<a href="http://localhost:3013">Back</a>

  <table>
        <tr>
            <th>Name</th>
            <th>Number of times greeted</th>
        </tr>

        <tr>
            <td>{{greeted}}</td>
            <td>{{count}}</td>

        </tr>
    </table>