<label for="fname">Greeting </label>
<nav class="navbar">
    <a href="/">Back</a>
</nav>

<table class="myNamesAndCount">
    <tr>
        <th> Names </a></th>
        <th>Number of greetings</th>
    </tr>
    {{#each nameAndCountList}}
    <tr>
        <td>
            <a href="/namesGreeted/{{@key}}"> {{@key}}</a>
        </td>
        <td>
            {{this}}
        </td>
    </tr>
    {{/each}}
</table>