    <label for="fname">Greeting </label>
    <a href="http://localhost:3013">Back</a>
    <table class="myNamesAndCount">
        <tr>
            <th>Names</th>
            <th>Number of times a name is greeted</th>
        </tr>
        <tr>

        </tr>
    </table>