<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <div class="greetPeople">
            Greeting
        </div>
        <div class="enterName">
            <span class="textboxName">
                <form action="/greetings" method="POST">
                    <label for="fname">Greeting </label>
                    <input class="textName" type="submit" name="button" value="" placeholder="Enter your name"
                        class="fname">
                </form>
            </span>
            <span class="counttracker">
                <span class="count"></span>
            </span>

        </div>

        <div class="languageTypes">
            <div class="radiobuttons">
                <form action="/language" method="POST">
                    <label class="">
                        <input type="radio" name="languageTypeRadio" class="languageTypeRadio" value="english">
                        <span class="label-body">English</span>
                    </label>
                    <label class="">
                        <input type="radio" name="languageTypeRadio" class="languageTypeRadio" value="afrikaans">
                        <span class="label-body">Afrikaans</span>
                    </label>
                    <label class="">
                        <input type="radio" name="languageTypeRadio" class="languageTypeRadio" value="isiXhosa">
                        <span class="label-body">isiXhosa</span>
                    </label>
                </form>
            </div>
            <div class="buttons">
                <button class="button-primary greetMeButton" type="button" name="button">Greet Me</button>
            </div>

        </div>
        <div class="greetSection">
            <span class="greeting">.</span>

        </div>

    </div>
</body>

</html>