body {
    background-image: url('https://images.pexels.com/photos/6168064/pexels-photo-6168064.jpeg?cs=srgb&dl=pexels-vie-studio-6168064.jpg&fm=jpg');
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	font-size: large;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;

}
.textName{
	background-color: #606c38;
}

.greetPeople{
	background-color: #606c38;
}
.container {
	display: flex;
	flex-flow: column wrap;
	background: rgba(96, 108, 56, .43)
}
.container > * {
	padding: 10px;
	flex: 1 100%;
  }
  input[type=text]{
	display: inline-block;
	padding: 10px 18px;
	border-radius: 5px;
	box-sizing: border-box;
}

.greetPeople {
	text-align: center;
	font-size: 2em;
}
.greetMeButton{
	width: 200px;
}
.resetCounterButton{
	width: 200px;
}
.enterName{
	display: flex;
	margin: auto;
}

.enterName div{
	flex: 2;
}
.enterName .count {
	font-size:4em;
}
.textboxName {
	padding: 1.3em;
}
.languageTypes {
	display: flex;
	flex-flow: column;
}
.languageTypes label{
	font-size: 1.2em;
	padding: 0.8em;
}

.radiobuttons {
	justify-content: center;
	margin: auto;
	margin-top: 20px;
}

.languageTypes button {

	padding: 5px;
	font-size: 20px;
	margin-top:3%;
}
.buttons {
	justify-content: center;
	margin: auto;
}


.greetSection{

	text-align: center;
	background-color: #283618;
	font-size:x-large;
}
.greetMeButton{
	background-color: #283618;
	color: aliceblue;
	border-color: aliceblue;
	border-radius: 10px;
	width: 150px;
	height: 50px;
	font-size: large;
	margin-top: 20px;

}
.resetCounterButton{
	background-color: #283618;
	color: aliceblue;
	border-color: aliceblue;
	border-radius: 10px;
	width: 150px;
	height: 50px;
	font-size: large;
	margin-top: 126px;
    left: 50%;
    transform: translate(-50%, 0)
}
table, th, td {
	border: 2px solid antiquewhite;
	border-collapse: collapse;
	margin: auto;
  }

.errorMessages{
	font-size: 23px;
	padding-top: 100px;
}
.errorMessages{
	animation: blinker 1s step-start infinite;
  }
.container2{
	margin: auto;
}
.Names{
	background-color: antiquewhite;
	margin-top: 20px;
}
.navbar{
	background-color: antiquewhite;
	margin-bottom: 20px;
}

  @keyframes blinker {
	50% {
	  opacity: 0;
	}
  }

@media (max-width: 750px){
	.greetMeButton{
		background-color: #283618;
		margin-right: 0px;
		color: aliceblue;
		border-color: aliceblue;
		border-radius: 10px;
	}
	.resetCounterButton{
		background-color: #283618;
		margin-left: 0px;
		color: aliceblue;
		border-color: aliceblue;
		border-radius: 10px;
	}

	.textboxName {
		padding: 0.5em;
	}
	.enterNameame{
		padding-left:25%;
	}
	.radiobuttons {
		padding-left: 0;
	}
	.buttons button{
		display: block;
	}
	input[type=text]{
		width: 100%;
		display: block;
	}
	.greetSection{
		text-align: center;
	}
	.languageTypes label{
		font-size: 1em;
	}
}